appdirs==1.4.4
asgiref==3.3.1
certifi==2020.12.5
chardet==4.0.0
colorama==0.4.4
distlib==0.3.1
dj-database-url==0.5.0
Django==3.1.5
django-allow-cidr==0.3.1
django-heroku==0.3.1
django-webmaster-verification==0.4.2
filelock==3.0.12
gunicorn==20.0.4
idna==2.10
joblib==1.0.1
netaddr==0.8.0
numpy==1.19.5
packaging==20.8
pandas==1.1.5
pip==21.0.1
pluggy==0.13.1
psycopg2==2.8.5
py==1.10.0
pyparsing==2.4.7
python-dateutil==2.8.1
pytz==2020.5
requests==2.25.1
scikit-learn==0.24.1
scipy==1.5.4
setuptools==52.0.0
six==1.15.0
sqlparse==0.4.1
threadpoolctl==2.1.0
toml==0.10.2
urllib3==1.26.2
virtualenv==20.3.1
wheel==0.36.2
whitenoise==5.2.0
wincertstore==0.2
